@charset "UTF-8";

body {
            background-color: lightskyblue;
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            color: mediumblue;
            background-color: dodgerblue;
        }

        h2 {
            color: darkred;
            background-color: lightpink;
        }

        p {
            text-align: justify;
        }